.app-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.confirm-box {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.confirm-btns {
  display: flex;
  justify-content: space-around;
}

.btns {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  font-weight: 600;
}

.btns:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.confirm-delete-btn {
  color: rgb(195, 14, 14);
}

